@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container {
  position: relative;
  width: 100%;

  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; 
}
.column {
  margin-bottom: 1.5rem;
  width: 100%;
  float: left;
  box-sizing: border-box; 
}

@media (min-width: 640px) {
  .container {
    width: 90%;
    padding: 0; }
  .column {
    margin-left: 4%; }
  .column:first-child {
    margin-left: 0; }

  .full-width.column              { width: 100%; margin-left: 0; }  

  .one-half.column                { width: 48%; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-quarter.column             { width: 22%; }
  .two-quarter.column             { width: 48%; }
  .three-quarter.column           { width: 74%; }

  .one-half.column                { width: 48%; }

            

}

.container:after,
.row:after,
.clearfix {
  content: "";
  display: table;
  clear: both; }

body {

  background-color: #0056d6;
  font-family: 'Press Start 2P', cursive;
}

header {
  color: white;
  text-align: center;
}

h1, h2, h3 {
   margin-top: 0;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 36px;
}

h3 {
    font-size: 26px;
}



.center {
  text-align: center;
}

.questions_box {

  color: rgb(244, 52, 52);
  text-shadow: 3px 3px 10px #0615e4;
  background-color: #575db2;
  padding: 150px;
  text-align: left;
  max-width: 560px;
}

.button {
  
  margin: 10px 0 0 0;
  float: right;
  cursor: pointer;

  font-size: 1em;
  border: none;
  padding: 10px 15px;
  line-height: 18px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  vertical-align: baseline;
  background: #101889;
  color: rgb(244, 52, 52);
  text-decoration: none !important;
  display: inline-block;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.button:hover {
  background-color: rgb(244, 52, 52) !important;
  color: #101889;
}

#question-2, #question-3, #question-4, #question-5, #question-6{
  display: none;
}

#progress_bar {
  background-color: #a81f1f;
  width: 20%;
  height: 10px;
  transition: all 100ms ease-in-out;
}



div {
  text-align: center;
  padding: 8px;
}


h1 {
  color:rgb(244, 52, 52);
  text-shadow: 3px 3px 10px #0615e4
}


/*mobile screens*/
@media  (max-width : 481px) {

h1 {
  font-size: 30px;
  margin-top: 0;
}
  
  h2 {
  font-size: 6px;
    margin-top: 0;
  }

  h3 {
    font-size: 20px;
    margin-top: 0;
  }

  .questions_box {
    padding: 70px;
    
  }

  .question-6, h2, h3 {
    font-size: 17px;
  }
  
}

@media  (max-width : 1087px) {
  .questions_box {
    padding:80px;
  }
}