@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



body {
 
  background-color: #0056d6;
  font-family: 'Press Start 2P', cursive;
}

header {
  color: white;
  text-align: center;
}

section {
  background: #0615e4;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 3px 3px 10px rgb(244, 52, 52);
}

div {
  text-align: center;
  padding: 8px;
}


footer {
  color:rgb(244, 52, 52);
  text-align: center;
    text-shadow: 3px 3px 10px #74779a
}

h1 {
  color:rgb(244, 52, 52);
  text-shadow: 3px 3px 10px #0615e4
}